{% extends "base.html.twig" %}

{% block title_text %}
  {% trans %}Change your password{% endtrans %}
{% endblock %}

{% block content %}
  {{ form_start(form) }}
    <fieldset class="form-section">
      <legend>{% trans %}Authenticate{% endtrans %}</legend>
      {{ form_row(form.old_password) }}
    </fieldset>
    <fieldset class="form-section">
      <legend>{% trans %}New credentials{% endtrans %}</legend>
      {{ form_row(form.new_password) }}
    </fieldset>
    <div class="form-actions">
      {{ form_widget(form.submit, {attr: {class: "btn btn-primary"}}) }}
    </div>
  {{ form_end(form) }}
{% endblock %}
