{% block form %}
  {{ form_start(form) }}
  {{ block("form_header") }}

  {% if entity.new %}
    <fieldset class="form-section">
      <legend>{% trans %}Service{% endtrans %}</legend>
      {{ form_row(form.template) }}
    </fieldset>
  {% else %}
    <fieldset class="form-section">
      <legend>{% trans %}Standard details{% endtrans %}</legend>
      <div class="form-group">
        <span class="form-label">{% trans %}Name{% endtrans %}</span>
        <p class="form-control-static">{{ entity.standardName }}</p>
      </div>
      <div class="form-group">
        <span class="form-label">{% trans %}Type{% endtrans %}</span>
        <p class="form-control-static">{{ entity.type }}</p>
      </div>
      <p class="text-muted">{% trans %}Changing these details is restricted to administrators.{% endtrans %}</p>
    </fieldset>
  {% endif %}

  <div class="row form-section-grid">
    <div class="col-md">
      <fieldset class="form-section">
        <legend>{% trans %}Basic information{% endtrans %}</legend>
        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
        {{ form_row(form.for_loan) }}
      </fieldset>
    </div>
    {% if form.owner is defined %}
      <aside class="col-md">
        <fieldset class="form-section">
          <legend>{% trans %}Administrators{% endtrans %}</legend>
            {{ form_row(form.owner) }}
        </fieldset>
      </aside>
    {% endif %}
  </div>

  <fieldset class="form-section">
    <legend>{% trans %}Description{% endtrans %}</legend>
    {{ form_row(form.short_description) }}
    {{ form_row(form.description) }}
  </fieldset>

  <fieldset class="form-section">
    <legend>{% trans %}Contact details{% endtrans %}</legend>
    {{ form_row(form.email) }}
    {{ form_row(form.phone_number) }}
    {{ form_row(form.website) }}
  </fieldset>

  {{ form_end(form) }}
{% endblock %}
