{% extends "base.html.twig" %}

{% block title_text %}
  {% trans with {'%service%': service.name} %}Libraries using service %service%{% endtrans %}
{% endblock %}

{% block content %}
  {% if templates|length %}
    <h2>{% trans %}Templates{% endtrans %}</h2>
    <ul class="list-group mb-3">
      {% for template in templates %}
        <li class="list-group-item">
          {% if template.group %}
            {{ template.group }}:
          {% else %}
            {% trans %}Shared{% endtrans %}:
          {% endif %}
          <a href="{{ path('entity.service_instance.edit', {service_instance: template.id}) }}">#{{ template.id }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>{% trans %}Libraries{% endtrans %}</h2>
  <ul class="list-group">
    {% for entry in tree %}
      <li class="list-group-item">
        {{ entry.library }}, {{ entry.library.city }}

        <ul>
          {% for instance in entry.instances %}
            {% set route_params = {
              library: entry.library.id,
              resource: 'services',
              resource_id: instance.id
            } %}
            <li>
              <a href="{{ path('entity.library.edit_resource', route_params)}}">#{{ instance.id }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
