{% extends "entity/edit.html.twig" %}

{%- if form is defined %}
  {% form_theme form _self %}
{% endif %}

{% block page_title %}
  <div class="row">
    <div class="col">
      <h1>{{ block("title_text") }}</h1>
    </div>
    <div class="col-3">
      <div class="form-inline pull-right">
        {{ block("content_language") }}
      </div>
    </div>
  </div>
{% endblock %}

{% block form_header %}
  {{ parent() }}

  {% block form_tabs %}
    {% if entity is defined %}
      <nav class="nav-form-tabs">
        {{ knp_menu_render('library_tabs', {"depth": 1}) }}
      </nav>
    {% endif %}
  {% endblock %}
{% endblock %}

{% block form_body %}
  <div class="row">
    <div class="col-md-6">
      <fieldset class="form-section">
        <legend>{% trans %}Basic information{% endtrans %}</legend>
        {{ form_row(form.name) }}
        {{ form_row(form.short_name) }}
        {{ form_row(form.branch_type) }}
        {{ form_row(form.isil) }}
        {{ form_row(form.identificator) }}
      </fieldset>
    </div>

    <aside class="col-md-6">
      {% if form.ptv is defined %}
        <fieldset class="form-section">
          <legend>{% trans %}PTV export{% endtrans %}</legend>
          {{ form_widget(form.ptv) }}
        </fieldset>
      {% endif %}

      <fieldset class="form-section">
        <legend>{% trans %}Administrators{% endtrans %}</legend>
        {{ form_row(form.slug) }}
      </fieldset>

      <fieldset class="form-section">
        <legend>{% trans %}Relationships{% endtrans %}</legend>
        {% if form.parent is defined %}
          {{ form_row(form.parent) }}
        {% endif %}

        {% if form.consortium is defined %}
          {{ form_row(form.consortium) }}
        {% endif %}
      </fieldset>
    </aside>
  </div>

  <fieldset class="form-section">
    <legend>{% trans %}Location{% endtrans %}</legend>
    <div class="row">
      <div class="col-md-6 col-highlight">
        {{ form_row(form.address) }}
      </div>
      <div class="col-md-6">
        {{ form_row(form.mail_address) }}
      </div>
    </div>
  </fieldset>

  <fieldset class="form-section">
    <legend>{% trans %}E-contact{% endtrans %}</legend>
    {{ form_row(form.email) }}
    {{ form_row(form.homepage) }}
  </fieldset>

  <fieldset class="form-section">
    <legend>{% trans %}Introduction{% endtrans %}</legend>
    {{ form_row(form.slogan) }}
    {{ form_row(form.description) }}
  </fieldset>

  <fieldset class="form-section">
    <legend>{% trans %}Arrival guide{% endtrans %}</legend>
    {{ form_row(form.buses) }}
    {{ form_row(form.trams) }}
    {{ form_row(form.trains) }}
    {{ form_row(form.transit_directions) }}
    {{ form_row(form.parking_instructions) }}
  </fieldset>

  <fieldset class="form-section">
    <legend>{% trans %}Building information{% endtrans %}</legend>
    {{ form_row(form.building_name) }}
    {{ form_row(form.construction_year) }}
    {{ form_row(form.building_architect) }}
    {{ form_row(form.interior_designer) }}
  </fieldset>
{% endblock %}

{% block _library_form_transit_directions_label %}
  <i class="fa fa-info-circle"></i>
  {{ block("form_label") }}
{% endblock %}

{% block _library_form_buses_label %}
  <i class="fa fa-bus"></i>
  {{ block("form_label") }}
{% endblock %}

{% block _library_form_trams_label %}
  <i class="fa fa-subway"></i>
  {{ block("form_label") }}
{% endblock %}

{% block _library_form_trains_label %}
  <i class="fa fa-train"></i>
  {{ block("form_label") }}
{% endblock %}

{% block _library_form_parking_instructions_label %}
  <i class="fa fa-car"></i>
  {{ block("form_label") }}
{% endblock %}

{% block _library_form_ptv_widget %}
  {% if value.ptvIdentifier %}
    <div class="d-none">{{ form_widget(form.ptv_identifier) }}</div>
    {{ form_widget(form) }}
    <p>ID: {{ form.ptv_identifier.vars.value }}</p>
  {% else %}
    <div>
      <label>
        <input type="radio" name="{{ form.enabled.vars.full_name }}" value="0" checked/>
        <span>{% trans %}Disabled{% endtrans %}</span>
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="{{ form.enabled.vars.full_name }}" value="{{ form.enabled.vars.value }}"/>
        <span>{% trans %}Create a new Service location{% endtrans %}</span>
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="{{ form.enabled.vars.full_name }}" value="{{ form.enabled.vars.value }}" data-app="radio-collapse" data-target="#ptv-identifier-row"/>
        <span>{% trans %}Link to an existing Service location{% endtrans %}</span>
      </label>
    </div>

    <div id="ptv-identifier-row" class="collapse">
      <div class="form-group">
        {{ form_label(form.ptv_identifier) }}
        {{ form_widget(form.ptv_identifier) }}
        <small class="form-text text-muted">PTV » Lisätiedot » Tunnistetiedot » PTV-tunniste</small>
      </div>
    </div>
  {% endif %}
{% endblock %}
