{% extends "entity/edit.html.twig" %}

{% block delete_button_outer %}
  {% set entity_delete_url = path("entity.%s.%s.delete"|format(parent_entity_type, resource_type), {
    (parent_entity_type): parent_entity.id,
    resource_id: entity.id
  }) %}

  {{ block("delete_button") }}
{% endblock %}

{% block form_header %}
  {{ parent() }}

  {% block form_tabs %}
    <nav class="nav-form-tabs">
      {{ knp_menu_render("library_tabs", {
        depth: 2,
        template: 'component/menu/tabs.html.twig',
      }) }}
    </nav>
  {% endblock %}
{% endblock %}

{% block form %}
  {{ form_start(form) }}
  {{ block("form_header") }}
  <fieldset class="form-section">
    <legend>{% trans %}Basic details{% endtrans %}</legend>
    {{ form_rest(form) }}
  </fieldset>
  {{ form_end(form) }}
{% endblock %}
