{% import _self as knp_menu %}

{% macro attributes(attributes) %}
  {% for name, value in attributes %}
      {%- if value is not none and value is not same as(false) -%}
          {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
      {%- endif -%}
  {%- endfor -%}
{% endmacro %}

{% set has_admin_menu = (item.children|last).extra("admin-menu") %}

{% if has_admin_menu %}
  {% set children = item.children|slice(0, -1) %}
  {% set admin_menu = item.children|last %}
  {% do admin_menu.setExtra("icon", "fas fa-lock") %}
{% else %}
  {% set children = item.children %}
{% endif %}

<ul class="navbar-nav">
  {% block children %}
    {% for item in children %}
      {% block item %}
        {% set attrs = item.attributes %}
        {% set link_attrs = item.linkAttributes %}

        {% set _classes = attrs.classes|default("") ~ " nav-item" %}

        {% if matcher.isCurrent(item) %}
          {% set _classes = _classes ~ " active" %}
        {% endif %}

        {% set attrs = attrs|merge({class: _classes}) %}

        {% set _link_classes = link_attrs.classes|default("") ~ " nav-link" %}
        {% set link_attrs = link_attrs|merge({class: _link_classes}) %}

        {% set icon = item.extra("icon") %}

        <li {{ knp_menu.attributes(attrs) }}>
          <a href="{{ item.uri }}" {{ knp_menu.attributes(link_attrs) }}>
            {% if icon %}<i class="{{ icon }}"></i>{% endif %}
            {{ item.label|trans }}
          </a>
        </li>
      {% endblock %}
    {% endfor %}
  {% endblock %}
</ul>

{% if (item.children|last).extra("admin-menu") %}
  <ul class="navbar-nav pr-3 navbar-secondary">
    {% with {children: [admin_menu]} %}
      {{ block("children") }}
    {% endwith %}
  </ul>
{% endif %}
