{% extends "entity/edit.html.twig" %}

{% form_theme form _self %}

{% block form_header %}
  {{ parent() }}

  {% block form_tabs %}
    <nav class="nav-form-tabs">
      {{ knp_menu_render("finna_organisation_tabs", {depth: 1}) }}
    </nav>
  {% endblock %}
{% endblock %}

{% block form %}
  {{ form_start(form) }}
  {{ block("form_header") }}

  <fieldset class="form-section">
    <legend>{% trans %}Basic information{% endtrans %}</legend>

    {% with { form: form.consortium } %}
      {{ form_row(form.name) }}
      {{ form_row(form.slug) }}
      {{ form_row(form.homepage) }}
      {{ form_row(form.description) }}

      {% do form.setRendered(true) %}
    {% endwith %}
  </fieldset>

  <fieldset class="form-section">
    <legend>{% trans %}Logo{% endtrans %}</legend>
    {{ form_widget(form.consortium.logo) }}
  </fieldset>

  <fieldset class="form-section">
    <legend>{% trans %}Finna information{% endtrans %}</legend>
    {{ form_rest(form) }}
  </fieldset>

  {{ form_end(form) }}
{% endblock %}

{% block _finna_additions_form_consortium_logo_widget %}
  {% if value.filename is defined %}
    <div class="d-inline-block mb-3">
      <img src="/files/logos/small/{{ value.filename }}" alt="{{ value.originalName }}"/>
    </div>
  {% endif %}

  {{ form_row(form.file) }}
{% endblock %}
