{% extends "entity/edit.html.twig" %}

{% block form_header %}
  {{ parent() }}

  {% block form_tabs %}
    <nav class="nav-form-tabs">
      {{ knp_menu_render("finna_organisation_tabs", {depth: 1}) }}
    </nav>
  {% endblock %}
{% endblock %}

{% block form %}
  {{ form_start(form) }}
  {{ block("form_header") }}

  <fieldset class="form-section">
    <legend>{% trans %}Basic details{% endtrans %}</legend>
    {{ form_row(form.name) }}
    {{ form_row(form.contact) }}
    {{ form_row(form.category) }}

    {% if form.department is defined %}
      {{ form_row(form.department) }}
    {% endif %}

    {{ form_row(form.description) }}
  </fieldset>

  {{ form_end(form) }}
{% endblock %}
