{% extends "base.html.twig" %}

{% form_theme form _self %}

{% if entity is not defined %}
  {% set entity = attribute(_context, entity_type) %}
{% endif %}

{% set cancel_button_url = path("entity." ~ entity_type ~ ".edit", {(entity_type): entity.id}) %}

{% block title_text %}
  {% trans with {"%type%": type_label|trans|lower, "%id%": entity.id} %}Delete %type% #%id%{% endtrans %}
{% endblock %}

{% block content %}
  <div class="form-section pb-3">
    <p class="mt-0">{% trans %}Do you really wish to delete this record?{% endtrans %}</p>
    <p>{% trans %}This action cannot be undone.{% endtrans %}</p>

    {{ form_start(form) }}
    {{ form_widget(form.submit, {attr: {class: "btn-danger"}}) }}

    {% block cancel_button %}
      <a href="{{ cancel_button_url }}" class="btn btn-secondary text-body ml-3">{% trans %}Cancel{% endtrans %}</a>
    {% endblock %}
    {{ form_end(form) }}
  </div>
{% endblock %}

{% block _foasdrm_submit_widget %}
  {# These variables won't inherit from template scope #}
  {% set entity_type = app.request.get('entity_type') %}
  {% set entity_id = app.request.get(entity_type) %}
  {% do form.setRendered(true) %}

  <button type="submit" class="btn btn-danger">
    <i class="fas fa-trash"></i>
    {% trans %}Delete{% endtrans %}
  </button>

  {# Cannot define this at the root of the template as context is cleared. #}
  {% set cancel_button_url = path("entity." ~ entity_type ~ ".edit", {(entity_type): entity_id}) %}

  {{ block("cancel_button") }}

{% endblock %}
