{% extends "base.html.twig" %}

{% if attribute(_context, entity_type) is defined %}
  {% set entity = attribute(_context, entity_type) %}
{% endif %}

{% set entity_is_trashed = entity.deleted|default(false) %}

{% block title_text %}
  {% if entity is defined %}
    {% trans with {"%type%": type_label|trans|lower, "%id%": entity.id} %}Edit %type% #%id%{% endtrans %}
  {% else %}
    {% trans with {"%type%": type_label|trans|lower} %}Add new %type%{% endtrans %}
  {% endif %}
{% endblock %}

{% block region_top %}

{% endblock %}

{% block content_language %}
  {% if form.content_language is defined %}
    {{ form_label(form.content_language) }}
    {{ form_widget(form.content_language, {"attr": {"data-app": "content-language"}}) }}
  {% endif %}
{% endblock %}

{% block form_header %}
  <div class="hud position-sticky">
    <h1 class="hud-legend">{{ block("title_text") }}</h1>

    {% if form.content_language is defined and entity is defined %}
      <div class="hud-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <a href="{{ path('entity.%s.translate'|format(entity_type), {(entity_type): entity.id}) }}" class="btn btn-link" aria-label="{{ 'Manage translations'|trans }}" title="{{ 'Manage translations'|trans }}" id="btn-manage-entity-translations">
              <i class="fas fa-globe" aria-hidden="true"></i>
            </a>
          </div>
          {{ form_widget(form.content_language, {"attr": {"data-app": "content-language"}}) }}
        </div>
      </div>
    {% elseif form.content_language is defined %}
      {% do form.content_language.setRendered(true) %}
    {% endif %}

    {% if form.state is defined %}
      <div class="hud-group">
        {{ form_widget(form.state) }}
      </div>
    {% endif %}

    <div class="hud-actions">
      {% if entity is defined and entity_type and entity.id %}
        {% if not entity_is_trashed %}
          {% block delete_button_outer %}
            {% if entity is defined and not entity_is_trashed %}
              {% set entity_delete_url = path("entity." ~ entity_type ~ ".delete", {(entity_type): entity.id}) %}
            {% endif %}
            {% block delete_button %}
              <a href="{{ entity_delete_url }}" class="btn btn-link text-danger">{% trans %}Delete{% endtrans %}</a>
            {% endblock %}
          {% endblock %}
        {% endif %}
      {% endif %}

      {% do form.actions.submit.setRendered(true) %}

      {% block form_submit_button %}
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-save"></i>
          {% trans %}Save{% endtrans %}
        </button>
      {% endblock %}
    </div>
  </div>

  {% with {flash_namespace: "form"} %}
    {{ block("flashes", "common-blocks.html.twig") }}
  {% endwith %}

  {% if entity_is_trashed %}
    <div class="alert alert-warning">
      {% trans %}This record has been removed.{% endtrans %}
      <button type="submit" name="{{ form.restore.vars.full_name}}" formaction="{{ path('entity.%s.restore'|format(entity_type), {(entity_type): entity.id}) }}" value="1" class="btn btn-link btn-sm" formnovalidate>{% trans %}Restore{% endtrans %}</button>

      {% do form.restore.setRendered(true) %}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% block form %}
    {{ form_start(form) }}
    {{ block("form_header") }}
    {% block form_body %}
      <fieldset class="form-section">
        <legend>{% trans %}Basic information{% endtrans %}</legend>
        {% for name, child in form.children %}
          {% if name != "actions" %}
            {{ form_row(child) }}
          {% endif %}
        {% endfor %}
      </fieldset>
    {% endblock %}
    {{ form_end(form) }}
  {% endblock form %}
{% endblock content %}
