{%- set page_title = block('title_text')|trim -%}
<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <meta name="robots" content="noindex,nofollow"/>

    <title>{% if block("title_text")|trim is not empty %}{{- block("title_text")|trim }} – {% endif %}{% block title %}Kirkanta{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="{{ asset("/kirkanta.ico") }}" rel="shortcut icon"/>

    {% block stylesheets %}
      <style>
        {% if app.environment == "prod" %}
          @import url("/dist/style.css");
        {% else %}
          @import url("/dev/style.css");
        {% endif %}
      </style>
    {% endblock %}
  </head>
  <body id="{{ app.request.get('_route')|replace({'.': '--', '_': '-'}) }}">
    {% block header %}
      <nav class="navbar navbar-expand-md navbar-dark bg-navbar" id="nav-main">
        <div class="container">
          {% if app.user %}
            <a class="navbar-brand" href="{{ path('front') }}">Kirkanta</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-main">
              {{ knp_menu_render('main', {
                depth: 1,
                matchingDepth: 5,
                template: "component/menu/main.html.twig"
              }) }}

              <div class="navbar-nav" id="user-menu">
                <div class="nav-item dropdown">
                  <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-user"></i>
                    {{ app.user.username }}
                  </button>

                  <div class="dropdown-menu">
                    <a href="{{ path('user.profile') }}" class="dropdown-item">{% trans %}Account{% endtrans %}</a>
                    <a href="{{ path('user.notifications') }}" class="dropdown-item">{% trans %}Notifications{% endtrans %}</a>

                    <div class="dropdown-divider"></div>
                    <a href="#help" class="dropdown-item">{% trans %}Help{% endtrans %}</a>

                    <div class="dropdown-divider"></div>
                    <a href="/logout" class="dropdown-item">{% trans %}Logout{% endtrans %}</a>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <a class="navbar-brand" href="{{ path('front') }}">Kirkanta</a>
          {% endif %}
        </div>
      </nav>
    {% endblock %}

    <div id="l-breadcrumb">
      <div class="container">
        {% block breadcrumb %}
          {{ knp_menu_render('breadcrumb', {
            depth: 1,
            template: "component/menu/breadcrumb.html.twig"
          })}}
        {% endblock %}
      </div>
    </div>

    {% block notifications %}
      <div class="container" id="l-notifications">
        {{ block("flashes", "common-blocks.html.twig") }}
      </div>
    {% endblock %}

    {% block body %}
      <div id="l-main" class="container">
        {% block region_top %}
          <div class="hud position-sticky">
            {% block content_top %}
              {% block page_title %}
                <h1 class="hud-legend">{% block title_text %}TITLE HERE{% endblock %}</h1>
              {% endblock %}
            {% endblock %}
          </div>
        {% endblock %}

        {% block region_main %}
          <div class="row">
            <main id="l-content" class="col">
              {% block content %}{% endblock %}
            </main>
          </div>
        {% endblock %}
      </div>
    {% endblock %}

    <script type="text/x-service-popover" id="full">
      <div class="popover" role="dialog" aria-labelledby="my-popover-header" aria-describedby="my-popover-body">
        <div class="arrow"></div>
        <div class="d-flex">
          <h3 class="popover-header"></h3>
          <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="popover-body"></div>
      </div>
    </script>

    <script type="text/x-service-popover" id="no-body">
      <div class="popover" role="tooltip" aria-labelledby="my-popover-header" aria-describedby="my-popover-body">
        <div class="arrow"></div>
        <div class="d-flex">
          <h3 class="popover-header"></h3>
          <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </script>

    {% block javascripts %}
      {% if app.environment == "prod" %}
        <script src="{{ asset('/dist/script.js') }}"></script>
      {% else %}
        <script src="{{ asset('/dev/script.js') }}"></script>
      {% endif %}
    {% endblock %}
  </body>
</html>
