{% extends "base.html.twig" %}

{% block region_top %}
  {# Clear this region for index #}
{% endblock %}

{% block title_text %}

{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block content %}
  <div class="border p-3 mb-3">
    {% if notifications|default() is not empty %}
        <i class="fa fa-bell text-danger"></i>
        <span class="ml-3">{% transchoice notifications|length %}{1}You have one new notification.|]1,Inf[You have %count% unread notifications.{% endtranschoice %}
        Most recent: <a href="{{ path('user.show_notification', {"notification": notifications[0].id}) }}">{{ notifications[0].subject }}</a></span>
    {% else %}
      <i class="far fa-bell text-muted"></i> <span class="ml-2">{% trans %}No unread notifications.{% endtrans %}</span>
    {% endif %}
  </div>

  {% if app.user.expires %}
    <div class="alert alert-warning">{% trans with {"%date%": app.user.expires|date()} %}This account is set to expire on %date%{% endtrans %}</div>
  {% endif %}

  {# if app.user.isMunicipalAccount() %}
    <div class="border p-3 mb-3">
      <div class="alert alert-danger">
        <i class="fas fa-exclamation-circle mr-2"></i>
        {% trans %}Municipal accounts will be removed in the future.{% endtrans %}
      </div>
      <ul>
        <li>
          <a href="{{ path('user_management.create_user') }}">{% trans %}Create a personal account{% endtrans %}</a>
        </li>
      </ul>
    </div>
  {% endif #}

  <div class="row">
    {% if organisations|default() is not empty %}
      <div class="col">
        <div class="border p-3 mb-3">
          {{ block("user_parent_organisation") }}
        </div>
      </div>
    {% endif %}
    {% if finna_organisations|default() is not empty %}
      <div class="col">
        <div class="border p-3 mb-3">
          {{ block("user_finna_organisation") }}
        </div>
      </div>
    {% elseif consortiums|default() is not empty %}
      <div class="col">
        <div class="border p-3 mb-3">
          {{ block("user_consortium") }}
        </div>
      </div>
    {% endif %}
  </div>

  {#
  <div class="row">
    <div class="col">
      <div class="border p-3 mb-3">
        {{ block("user_status_report") }}
      </div>
    </div>
  </div>
  #}

  {# if user_management is defined %}
    <div class="row">
      <div class="col">
        <div class="border p-3 mb-3">
          {{ block("user_manager") }}
        </div>
      </div>
    </div>
  {% endif #}
{% endblock %}

{% block user_consortium %}
  <h2>{% trans %}Consortiums{% endtrans %}</h2>
  <ul>
    {% for consortium in consortiums %}
      <li>
        <a href="{{ path('entity.consortium.edit', {consortium: consortium.id})}}">{{ consortium.name }}</a> – Last updated foo.bar.year
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block user_finna_organisation %}
  <h2>{% trans %}Finna organisations{% endtrans %}</h2>
  <ul>
    {% for finna_organisation in finna_organisations %}
      <li>
        <a href="{{ path('entity.finna_organisation.edit', {finna_organisation: finna_organisation.id})}}">{{ finna_organisation.name }}</a> – Last updated foo.bar.year
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block user_parent_organisation %}
  <h2>{% trans %}Parent organisation{% endtrans %}</h2>
  <ul>
    {% for organisation in organisations %}
      <li>
        <a href="{{ path('entity.organisation.edit', {organisation: organisation.id})}}">{{ organisation.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block user_status_report %}
  <h2>{% trans %}Status report{% endtrans %}</h2>
  <h3>Libraries</h3>
  <ul>
    <li class="font-italic">Pasilan kirjasto is outdated</li>
  </ul>
{% endblock %}

{% block user_manager %}
  <h2>{% trans %}User management{% endtrans %}</h2>
  <p>{% trans %}You are allowed to manage user accounts in your group.{% endtrans %}</p>
  <a href="{{ path('user_management.own_group') }}">{% trans %}Manage users{% endtrans %}</a>
{% endblock %}
