{% extends "base.html.twig" %}

{% block region_top %}
  {# Clear this region for index #}
{% endblock %}

{% block title_text %}

{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block content %}
  <div class="form-section">
    {% if notifications is not empty %}
      <p>
        <i class="fa fa-bell text-danger"></i>
        <span class="ml-3">{% transchoice notifications|length %}{1}You have one new notification.|]1,Inf[You have %count% unread notifications.{% endtranschoice %}
        Most recent: <a href="{{ path('user.show_notification', {"notification": notifications[0].id}) }}">{{ notifications[0].subject }}</a></span>
      </p>
    {% else %}
      <p><i class="far fa-bell text-muted"></i> <span class="ml-2">{% trans %}No unread notifications.{% endtrans %}</span></p>
    {% endif %}
  </div>

  <div class="row">
    <div class="col">
      <div class="border p-3 mb-3">
        {{ block("user_parent_organisation") }}
      </div>
    </div>
    <div class="col">
      <div class="border p-3 mb-3">
        {# Consortium or Finna Organisation #}
        {{ block("user_consortium") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="border p-3 mb-3">
        {{ block("user_status_report") }}
      </div>
    </div>
  </div>
{% endblock %}

{% block user_consortium %}
  <h2>Consortium</h2>
  <ul>
    <li><a href="{{ path('entity.consortium.edit', {consortium: 2093})}}">HelMet</a> – Last updated foo.bar.year</li>
  </ul>
{% endblock %}

{% block user_parent_organisation %}
  <h2>Parent Organisation</h2>
  <ul>
    <li><a href="{{ path('entity.organisation.edit', {organisation: 84646}) }}">Espoon kaupunginkirjasto</a></li>
    <li><a href="{{ path('entity.organisation.edit', {organisation: 84846}) }}">Helsingin kaupunginkirjasto</a></li>
    <li><a href="{{ path('entity.organisation.edit', {organisation: 84717}) }}">Vantaan kaupunginkirjasto</a></li>
  </ul>
{% endblock %}

{% block user_status_report %}
  <h2>Status Report</h2>
  <h3>Libraries</h3>
  <ul>
    <li class="font-italic">Pasilan kirjasto is outdated</li>
  </ul>
{% endblock %}
