{% extends "base.html.twig" %}

{% form_theme form _self %}

{% block title_text %}
  {% trans %}Manage translations{% endtrans %}
{% endblock %}

{% block content %}
  <fieldset class="form-section search-form-container">
    <legend>{% trans %}Filter{% endtrans %}</legend>
    {{ form_start(search_form) }}
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          {{ form_row(search_form.locale) }}
        </div>
        <div class="col-md-3">
          {{ form_row(search_form.text) }}
        </div>
        <div class="col-md-3">
          <p class="form-control-static">&nbsp;</p>
          {{ form_row(search_form.only_null) }}
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-secondary">
            <i class="fas fa-search"></i>
            {% trans %}Search{% endtrans %}
          </button>
        </div>
      </div>
    </div>
    {% do form_widget(search_form.actions.setRendered(true)) %}
    {{ form_end(search_form) }}
  </fieldset>

  {% do form.actions.setRendered(true) %}
  {{ form_start(form) }}
  <div class="text-right mb-3">
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-save"></i>
      {% trans %}Save{% endtrans %}
    </button>
  </div>
  <div class="form-section">
    {{ form_rest(form) }}
  </div>
  <div class="text-right mb-3">
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-save"></i>
      {% trans %}Save{% endtrans %}
    </button>
  </div>
  {{ form_end(form) }}
{% endblock %}

{% block _translation_form_translations_widget %}
  {% if form.children|length == 0 %}
    <p>{% trans %}Nothing found.{% endtrans %}</p>
  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <b>{% trans %}Source{% endtrans %}</b>
        </div>
        <div class="col-md-6">
          <b>{% trans %}Message{% endtrans %}</b>
        </div>
      </div>

      {{ block("form_widget") }}
    </div>
  {% endif %}
{% endblock %}

{% block _translation_form_translations_entry_row %}
  {% for child in form.children %}
    {% if child.children|length > 0 %}
      {% with {form: child} %}
        {{ block("field_collection") }}
      {% endwith %}
    {% else %}
      <div class="row">
        <div class="col-md-6 col-form-label">
          {{ form_label(child) }}
        </div>
        <div class="col-md-6">
          {{ form_widget(child) }}
        </div>
      </div>
    {% endif %}
  {% endfor %}

{% endblock %}

{% block _translation_form_translations_entry_translation_widget %}
  {% if form.children|length > 0 %}

  {% else %}
    {{ form_widget(form) }}
  {% endif %}
{% endblock %}

{% block field_collection %}
  <div style="margin: 1rem -1rem; padding: 1rem; border: 1px dashed gray">
    <b>Plural forms</b>

    {% for child in form %}
      <div class="row">
        <div class="col-md-6 col-form-label">
          {{ form_label(child) }}
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" style="min-width: 4rem">{{ child.vars.translation_plural }}</div>
            </div>
            {{ form_widget(child) }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
