{% extends "entity/edit.html.twig" %}

{% form_theme form _self %}

{% block form %}
  {{ form_start(form) }}
  {{ block("form_header") }}

  <fieldset class="form-section">
    <legend>{% trans %}Basic information{% endtrans %}</legend>
    {{ form_row(form.children.name) }}
    {{ form_row(form.children.slug) }}
    {{ form_row(form.children.homepage) }}
    {{ form_row(form.children.description) }}
  </fieldset>

  <fieldset class="form-section">
    <legend>{% trans %}Logo{% endtrans %}</legend>
    {{ form_widget(form.children.logo) }}
  </fieldset>

  {{ form_end(form) }}

  {% if consortium is defined and not consortium.deleted %}
    <div class="form-section">
      <ul>
        {% if consortium.finnaData %}
          <li>
            <a href="{{ path('entity.finna_organisation.edit', {finna_organisation: consortium.id}) }}">{% trans %}Manage as Finna organisation{% endtrans %}</a>
          </li>
          {% else %}
            <li>
              <a href="{{ path('entity.consortium.add_finna', {consortium: consortium.id}) }}">{% trans %}Create Finna extension{% endtrans %}</a>
            </li>
          {% endif %}
      </ul>
    </div>
  {% endif %}
{% endblock %}

{% block _consortium_form_logo_widget %}
  {% if value.filename is defined %}
    <div class="d-inline-block mb-3">
      <img src="/files/logos/small/{{ value.filename }}" alt="{{ value.originalName }}"/>
    </div>
  {% endif %}

  {{ form_row(form.file) }}
{% endblock %}
