{% extends "base.html.twig" %}

{% block title_text %}
  {% trans %}User profile{% endtrans %}
{% endblock %}

{% block content %}
  {% if user.expires %}
    <div class="alert alert-warning">{% trans with {"%date%": user.expires|date()} %}This account is set to expire on %date%{% endtrans %}</div>
  {% endif %}

  <div class="border p-3">
    <dl>
      <dt>{% trans %}Username{% endtrans %}</dt>
      <dd>{{ user.username }}</dd>
      <dt>{% trans %}Email address{% endtrans %}</dt>
      {% if user.email %}
        <dd>{{ user.email }}</dd>
      {% else %}
        <dd class="text-danger">{% trans %}Email address not set.{% endtrans %}</dd>
      {% endif %}
      <dt>{% trans %}User group{% endtrans %}</dt>
      <dd>{{ user.group.name }}</dd>
    </dl>
    {% if user.isGroupManager %}
      <span class="badge badge-pill badge-success">{% trans %}Group manager{% endtrans %}</span>
    {% endif %}
  </div>

  <div class="border p-3 mt-3">
    <ul class="mb-0">
      <li>
        <a href="{{ path('account.change_password') }}">{% trans %}Change password{% endtrans %}</a>
      </li>
      <li>
        <a href="{{ path('account.change_email') }}">{% trans %}Change email address{% endtrans %}</a>
      </li>
    </ul>
  </div>
{% endblock %}
